.carousel-title {
  padding-right: 200px;
}

<<<<<<< HEAD
    background-image: url("images/banner-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 85vh;
}

.background-img-2 {

    background-image: url("images/banner-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 85vh;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.021);
    padding: 30px 190px 0px 190px;
}

.owl-text {
    padding-top: 36vh;
    padding-left: 70vh;
    font-size: 65px;
}

.owl-text-2 {
    padding-top: 36vh;
    padding-right: 70vh;
    font-size: 65px;
}

.shop-now::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    right: 915px;
    top: 59%;
    transition: all 0.3s ease 0s;
    width: 20px;
}

.shop-now {
    margin-left: 60vh;
    font-size: 25px;
    text-decoration: none;
    color: #000;
}

.shop-now-2 {
    margin-left: 120vh;
    font-size: 25px;
    text-decoration: none;
    color: #000;
}

.shop-now-2::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    right: 465px;
    top: 59%;
    transition: all 0.3s ease 0s;
    width: 20px;
}
=======
.carousel-title-2 {
  padding-left: 200px;
}

.con-nav {
  position: relative;
  bottom: 638px;
  background-color: hsla(0, 0%, 99%, 0.266);
}
>>>>>>> 6cef5b78da52bfcaf9f23430050bbee3149e8b5d
